<h1> Find all inventions on the site below: </h1>

<a style="font-weight:bold" href="/inventions/new" > Click here to add a new invention.</a><br><br>

<ul><br>

    <% @inventions.each do |invention| %>
        
            <li>
                <%= invention.title%>
                <%= invention.user.try(:username)%>
            </li>
    <% end %>
    
</ul>