<h1> Find all of your inventions listed below: </h1>

<ul><br>

    <% @invention.each do |invention| %>
        <li>
            <a href="/inventions/<%=invention.id%>">
                <%= invention.title%>
            </a>
        </li><br>
    <% end %>
    
</ul>