<h1> Find all of your inventions listed below: </h1>

<a style="font-weight:bold" href="/inventions/new" > Click here to add a new invention.</a><br><br>

<ul><br>

    <% @inventions.each do |invention| %>
        
            <li>
                <a href="/inventions/<%=invention.id%>">
                <%= invention.title%>
                </a>
            </li>
    <% end %>
    
</ul>