<h1> This is a list of all users on the App: </h1>

<ul>

<% @users.each do |user| %>
    <li>
        <a href="/users/<% user.id %>" >
            <%= user.name %>
        </a>
    </li>
<%end%>

</ul>