<div class="container">
  <h1> Handy Invention Tracking System (HITS)</h1>
  <div class="col-md-8 col-md-offset-2">
    <h2>Tracking your bright ideas has never been easier</h2>

    <div class="content">
      <p>Welcome to the newest way to track your bright ideas.  
      With the Handy Invention Tracking System (HITS) you can easily track all of your bright ideas 
      and update them throughout the invention creation process.<br><br>
      Use this system to figure out your next great HIT!<br><br>
      To start, please signup or login below.<br><br>
      
      <h4><a href="/signup">Signup</a></h4>
      <h4><a href="/login">Login</a></h4>
    </div>

  </div>
</div>